In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('klk_rezultati.csv')

In [3]:
df.head()

  Број индекса     Презиме и име    П1    П2    П3    П4    П5    П
0    1987/0645   Поповић Владица -1.25 -1.25 -1.25  5.00 -1.25  0.0
1    2011/0554  Јовановић Стефан  5.00 -1.25  5.00 -1.25  0.00  7.5
2    2014/0662     Шушљик Стефан -1.25  5.00 -1.25  5.00  0.00  7.5
3    2017/0273   Марковић Никола -1.25  5.00  0.00 -1.25  5.00  7.5
4    2017/0715   Момчилов Марија   NaN   NaN   NaN   NaN   NaN  NaN

In [4]:
df = df.dropna()

In [5]:
df.head()

  Број индекса      Презиме и име    П1    П2    П3    П4    П5     П
0    1987/0645    Поповић Владица -1.25 -1.25 -1.25  5.00 -1.25   0.0
1    2011/0554   Јовановић Стефан  5.00 -1.25  5.00 -1.25  0.00   7.5
2    2014/0662      Шушљик Стефан -1.25  5.00 -1.25  5.00  0.00   7.5
3    2017/0273    Марковић Никола -1.25  5.00  0.00 -1.25  5.00   7.5
5    2018/0344  Макљеновић Алекса  5.00  0.00  5.00  5.00  5.00  20.0

In [6]:
df1 = df.loc[df['П'] == 20.0]

In [7]:
df1

    Број индекса          Презиме и име   П1   П2   П3   П4   П5     П
5      2018/0344      Макљеновић Алекса  5.0  0.0  5.0  5.0  5.0  20.0
60     2022/0002          Поповић Петар  5.0  5.0  0.0  5.0  5.0  20.0
78     2022/0027      Продановић Анђела  0.0  5.0  5.0  5.0  5.0  20.0
113    2022/0081  Стојановић Анастасија  5.0  5.0  0.0  5.0  5.0  20.0
120    2022/0090       Беновић Томислав  5.0  5.0  0.0  5.0  5.0  20.0
151    2022/0130           Брадић Павле  5.0  5.0  5.0  5.0  0.0  20.0
166    2022/0154       Томашевић Анђела  5.0  5.0  0.0  5.0  5.0  20.0
172    2022/0162        Аврамовић Петра  5.0  5.0  0.0  5.0  5.0  20.0
195    2022/0191           Андрић Ђорђе  5.0  5.0  5.0  0.0  5.0  20.0
270    2022/0301          Томић Михајло  5.0  5.0  0.0  5.0  5.0  20.0
284    2022/0329          Гојковић Нађа  5.0  0.0  5.0  5.0  5.0  20.0
330    2022/0408        Ковачевић Лазар  5.0  5.0  5.0  5.0  5.0  20.0
396    2022/0497           Рудан Горана  5.0  5.0  0.0  5.0  5.0  20.0
508    2022/0660            Тришић Јана  5.0  5.0  5.0  0.0  5.0  20.0
509    2022/0661          Мишић Андрија  0.0  5.0  5.0  5.0  5.0  20.0

In [8]:
ljudi_20 = len(df1['П'])
ljudi_20

15

In [9]:
ljudi_18_75 = len(df.loc[df['П'] == 18.75, 'П'])
ljudi_18_75

15

In [10]:
ljudi_15 = len(df.loc[df['П'] == 15, 'П'])
ljudi_15

6

In [11]:
ljudi_13_75 = len(df.loc[df['П'] == 13.75, 'П'])
ljudi_13_75

55

In [12]:
ljudi_12_5 = len(df.loc[df['П'] == 12.5, 'П'])
ljudi_12_5

45

In [13]:
ljudi_1_25 = len(df.loc[df['П'] == 1.25, 'П'])
ljudi_1_25

86

In [14]:
ljudi_0 = len(df.loc[df['П'] == 0, 'П'])
ljudi_0

94

In [15]:
svi = len(df['П'])
svi

563

In [16]:
procenat_20 = (ljudi_20 / svi) * 100
procenat_20

2.664298401420959

In [17]:
procenat_18_75 = (ljudi_18_75 / svi) * 100
procenat_18_75

2.664298401420959

In [18]:
procenat_13_75 = (ljudi_13_75 / svi) * 100
procenat_13_75

9.769094138543517

In [19]:
procenat_12_5 = (ljudi_12_5 / svi) * 100
procenat_12_5

7.992895204262878

In [20]:
procenat_1_25 = (ljudi_1_25 / svi) * 100
procenat_1_25

15.2753108348135

In [21]:
procenat_0 = (ljudi_0 / svi) * 100
procenat_0

16.69626998223801

In [ ]:
prosecni_svi = (sum(df[]))/(svi)